theme-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

theme-input {
	display: flex;
	flex-direction: column;
	gap: var(--size-6);

	> div {
		display: flex;
		flex-direction: column;
		gap: var(--size-2);
	}
}

theme-picker[type="color"] {
	div {
		display: flex;
		flex-direction: row-reverse;
		justify-content: start;
		align-items: center;
		gap: var(--size-2);
	}
}

theme-code {
	pre {
		min-height: 200px;
	}
}

theme-edit {
	display: contents;

	button {
		margin-block-end: var(--size-4);
	}
}
