:root {
	--cyan-50: oklch(0.99 0.02 205);
	--cyan-100: oklch(0.94 0.06 205);
	--cyan-200: oklch(0.89 0.11 205);
	--cyan-300: oklch(0.83 0.16 205);
	--cyan-400: oklch(0.77 0.2 205);
	--cyan-500: oklch(0.70 0.23 205);
	--cyan-600: oklch(0.62 0.21 205);
	--cyan-700: oklch(0.54 0.19 205);
	--cyan-800: oklch(0.45 0.17 205);
	--cyan-900: oklch(0.34 0.15 205);
	--cyan-950: oklch(0.23 0.13 205);
}
