:root {
	--fuchsia-50: oklch(0.99 0.02 322);
	--fuchsia-100: oklch(0.93 0.06 322);
	--fuchsia-200: oklch(0.87 0.11 322);
	--fuchsia-300: oklch(0.8 0.16 322);
	--fuchsia-400: oklch(0.73 0.2 322);
	--fuchsia-500: oklch(0.66 0.23 322);
	--fuchsia-600: oklch(0.59 0.21 322);
	--fuchsia-700: oklch(0.51 0.19 322);
	--fuchsia-800: oklch(0.42 0.17 322);
	--fuchsia-900: oklch(0.33 0.15 322);
	--fuchsia-950: oklch(0.24 0.13 322);
}
