:root {
	--lime-50: oklch(0.99 0.02 127);
	--lime-100: oklch(0.97 0.06 127);
	--lime-200: oklch(0.94 0.11 127);
	--lime-300: oklch(0.90 0.16 127);
	--lime-400: oklch(0.85 0.2 127);
	--lime-500: oklch(0.79 0.23 127);
	--lime-600: oklch(0.71 0.21 127);
	--lime-700: oklch(0.62 0.19 127);
	--lime-800: oklch(0.50 0.17 127);
	--lime-900: oklch(0.38 0.15 127);
	--lime-950: oklch(0.23 0.13 127);
}
