:root {
	--pink-50: oklch(0.99 0.02 354);
	--pink-100: oklch(0.94 0.06 354);
	--pink-200: oklch(0.89 0.11 354);
	--pink-300: oklch(0.83 0.16 354);
	--pink-400: oklch(0.77 0.2 354);
	--pink-500: oklch(0.70 0.23 354);
	--pink-600: oklch(0.62 0.21 354);
	--pink-700: oklch(0.54 0.19 354);
	--pink-800: oklch(0.44 0.17 354);
	--pink-900: oklch(0.34 0.15 354);
	--pink-950: oklch(0.23 0.13 354);
}
