:root {
	--red-50: oklch(0.99 0.02 25);
	--red-100: oklch(0.95 0.06 25);
	--red-200: oklch(0.91 0.11 25);
	--red-300: oklch(0.86 0.16 25);
	--red-400: oklch(0.80 0.2 25);
	--red-500: oklch(0.73 0.23 25);
	--red-600: oklch(0.66 0.21 25);
	--red-700: oklch(0.57 0.19 25);
	--red-800: oklch(0.47 0.17 25);
	--red-900: oklch(0.36 0.15 25);
	--red-950: oklch(0.23 0.13 25);
}
