:root {
	--rose-50: oklch(0.99 0.02 17);
	--rose-100: oklch(0.95 0.06 17);
	--rose-200: oklch(0.90 0.11 17);
	--rose-300: oklch(0.85 0.16 17);
	--rose-400: oklch(0.79 0.2 17);
	--rose-500: oklch(0.72 0.23 17);
	--rose-600: oklch(0.65 0.21 17);
	--rose-700: oklch(0.56 0.19 17);
	--rose-800: oklch(0.46 0.17 17);
	--rose-900: oklch(0.35 0.15 17);
	--rose-950: oklch(0.23 0.13 17);
}
