:root {
	--sky-50: oklch(0.99 0.02 225);
	--sky-100: oklch(0.93 0.06 225);
	--sky-200: oklch(0.88 0.11 225);
	--sky-300: oklch(0.81 0.16 225);
	--sky-400: oklch(0.75 0.2 225);
	--sky-500: oklch(0.68 0.23 225);
	--sky-600: oklch(0.60 0.21 225);
	--sky-700: oklch(0.52 0.19 225);
	--sky-800: oklch(0.43 0.17 225);
	--sky-900: oklch(0.34 0.15 225);
	--sky-950: oklch(0.24 0.13 225);
}
