:root {
	--teal-50: oklch(0.99 0.02 185);
	--teal-100: oklch(0.95 0.06 185);
	--teal-200: oklch(0.9 0.11 185);
	--teal-300: oklch(0.85 0.16 185);
	--teal-400: oklch(0.79 0.2 185);
	--teal-500: oklch(0.72 0.23 185);
	--teal-600: oklch(0.65 0.21 185);
	--teal-700: oklch(0.56 0.19 185);
	--teal-800: oklch(0.46 0.17 185);
	--teal-900: oklch(0.35 0.15 185);
	--teal-950: oklch(0.23 0.13 185);
}
