:root {
	--violet-50: oklch(0.99 0.02 293);
	--violet-100: oklch(0.92 0.06 293);
	--violet-200: oklch(0.85 0.11 293);
	--violet-300: oklch(0.78 0.16 293);
	--violet-400: oklch(0.7 0.2 293);
	--violet-500: oklch(0.63 0.23 293);
	--violet-600: oklch(0.55 0.21 293);
	--violet-700: oklch(0.48 0.19 293);
	--violet-800: oklch(0.4 0.17 293);
	--violet-900: oklch(0.32 0.15 293);
	--violet-950: oklch(0.24 0.13 293);
}
