.button {
	transition-duration: theme("transitionDuration.DEFAULT");
	transition-property: theme("transitionProperty.DEFAULT");
	transition-timing-function: theme("transitionTimingFunction.DEFAULT");
	box-shadow: theme("boxShadow.DEFAULT");
	border-radius: theme("borderRadius.DEFAULT");
	padding: theme("padding.2") theme("padding.3");
	font-weight: theme("fontWeight.medium");
	font-size: theme("fontSize.sm");
	line-height: theme("lineHeight.5");
	letter-spacing: theme("letterSpacing.wide");
	text-transform: capitalize;
}

.button:hover {
	opacity: theme("opacity.90");
}

.button:active {
	transform: scale(theme("scale.95"));
	box-shadow: theme("boxShadow.none");
}

.button:disabled {
	opacity: theme("opacity.50");
	pointer-events: none;
}

.button-primary {
	background-color: theme("backgroundColor.primary.DEFAULT");
	color: theme("colors.primary.foreground");
}

.button-secondary {
	background-color: theme("backgroundColor.secondary.DEFAULT");
	color: theme("colors.secondary.foreground");
}

.button-ghost {
	box-shadow: none;
	background-color: transparent;
}

.button-ghost:hover {
	background-color: theme("backgroundColor.muted.DEFAULT");
}

.button-destructive {
	background-color: theme("backgroundColor.destructive.DEFAULT");
	color: theme("colors.destructive.foreground");
}

.button-icon {
	padding: theme("padding.2");
}

.button:focus-visible {
	outline-color: theme("outlineColor.foreground");
	outline-style: solid;
	outline-width: theme("outlineWidth.2");
	outline-offset: theme("outlineOffset.2");
}
