.input {
	display: flex;
	border-width: theme("borderWidth.DEFAULT");
	border-color: theme("borderColor.DEFAULT");
	border-radius: theme("borderRadius.DEFAULT");
	background-color: theme("backgroundColor.background");
	padding: theme("padding.2") theme("padding.3");
	width: theme("width.full");
	font-size: theme("fontSize.sm");
	line-height: theme("lineHeight.5");
}

.input::file-selector-button {
	border-width: theme("borderWidth.0");
	background-color: inherit;
	color: inherit;
	font-size: inherit;
	line-height: theme("lineHeight.none");
}

.input::placeholder {
	opacity: theme("opacity.70");
}

.checkbox-radio {
	border-width: theme("borderWidth.DEFAULT");
	width: theme("width.4");
	height: theme("height.4");
	accent-color: theme("accentColor.primary.DEFAULT");
}

.input:disabled,
.checkbox-radio:disabled {
	opacity: theme("opacity.50");
	cursor: not-allowed;
}

.input:focus-visible,
.checkbox-radio:focus-visible {
	outline-color: theme("outlineColor.foreground");
	outline-style: solid;
	outline-width: theme("outlineWidth.2");
	outline-offset: theme("outlineOffset.2");
}
