.link {
	cursor: pointer;
	color: theme("colors.primary.DEFAULT");
	text-decoration: underline;
	text-underline-offset: theme("textUnderlineOffset.2");
}

.link:focus-visible {
	outline: theme("outlineColor.foreground") solid theme("outlineWidth.2");
	outline-offset: theme("outlineOffset.2");
}
