color-palette {
	display: grid;
	border-radius: var(--border-radius);
	background-color: light-dark(white, black);
}

color-swatch {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: var(--size-5) var(--size-4);
	font-family: var(--font-family-mono);

	&:first-of-type {
		border-start-start-radius: var(--border-radius);
		border-start-end-radius: var(--border-radius);
	}

	&:last-of-type {
		border-end-start-radius: var(--border-radius);
		border-end-end-radius: var(--border-radius);
	}
}
